<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9Q9G10RDW3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9Q9G10RDW3');
</script>
{% extends 'predictor/base.html' %}
{% load static %}
{% block title %}About{% endblock %}

{% block content %}
<section class="wrapper style1">
    <div class="container">
        <header class="major">
            <!-- Image -->
            <div>
                <img src="/static/images/back.gif" alt="Background Image">
            </div>
            <h2>About Fast CCS</h2>
        </header>
        <p class="justify-text">
            FastCCS is an AI-based web platform for predicting Molecular Collision Cross Section (CCS) values from molecular SMILES and adduct ions.
        </p>
    </div>
</section>
{% endblock %}

