{% extends 'predictor/base.html' %}
{% load static %}
{% block title %}About{% endblock %}

{% block content %}
<section class="wrapper style1">
    <div class="container">
        <header class="major">
            <!-- Image -->
            <div>
                <img src="/media/back.gif" alt="Background Image">
            </div>
            <h2>About Fast CCS</h2>
        </header>
        <p class="justify-text">
            FastCCS is a prediction program that makes use of a deep neural network (DNN) to estimate collision cross sections (CCS).
        </p>
    </div>
</section>
{% endblock %}
